Repository hmcts/sscs-case-loader, pull requests merged in 2019-10, with the labels that each got.

#536 Aks helm
  Dockerfile
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/requirements.yaml
  charts/sscs-case-loader/values.aat.template.yaml
  charts/sscs-case-loader/values.preview.template.yaml
  charts/sscs-case-loader/values.yaml
  docker/sftp/Dockerfile
  docker/sftp/data/incoming/SSCS_Extract_Delta_2018-05-24-16-14-19.xml
  docker/sftp/data/incoming/SSCS_Extract_Delta_No_Parties_2018-11-30-23-34-59.xml
  docker/sftp/data/incoming/SSCS_Extract_Delta_SmokeTest_2018-03-15-16-14-19.xml
  docker/sftp/data/keys/sftp-docker.pub
  docker/sftp/tools/progressor/sscs-5270/sscs-5270-01.xml
  docker/sftp/tools/progressor/sscs-5270/sscs-5270-02.xml
  docker/sftp/tools/progressor/sscs-5270/sscs-5270-03.xml
  docker/sftp/tools/progressor/sscs-5270/sscs-5270-04.xml
  docker/sftp/tools/progressor/sscs-5270/sscs-5270-05.xml
  gradle/wrapper/gradle-wrapper.properties
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controllers/FunctionalTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/controllers/SmokeTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/job/SscsCaseLoaderJobTest.java
  src/e2e/java/uk.gov.hmcts.reform.sscs/smoke/GetSavedCase.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/postdeploy/ProcessCaseFileTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/predeploy/ProcessCaseFileSetup.java
  src/main/java/uk/gov/hmcts/reform/sscs/CaseLoaderApp.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/CaseLoaderJobConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/properties/SftpSshProperties.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/test/functional/Functional.java
  src/main/java/uk/gov/hmcts/reform/sscs/controller/test/smoke/Smoke.java
  src/main/java/uk/gov/hmcts/reform/sscs/job/SscsCaseLoaderJob.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/job/CronExpressionProductionTest.java
Labels: ns:sscs-case-loader-pr-536

#548 Add some debug info to AKS functional tests
  Jenkinsfile_CNP
Labels: ns:sscs-case-loader-pr-548

#547 Archive functional tests, remove unneeded docker
  Jenkinsfile_CNP
Labels: ns:sscs-case-loader-pr-547

#534 [PREVIEW] SSCS-6591 Logging – implement logging when adding hearing i…
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilder.java
Labels: ns:sscs-case-loader-pr-534

#549 SSCS-6669 - add DirectionType
  Jenkinsfile_CNP
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/postdeploy/ProcessCaseFileTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/CaseLoaderJobConfig.java
Labels: ns:sscs-case-loader-pr-549
