Repository hmcts/sscs-case-loader, pull requests merged in 2019-11, with the labels that each got.

#552 Sscs 6849 change latest xsd
  src/main/java/uk/gov/hmcts/reform/sscs/services/xml/XmlSchemas.java
  src/main/resources/schema/SSCS_Extract_Schema_0.10.xsd
Labels: ns:sscs-case-loader-pr-552

#553 Sonar fix
  src/main/java/uk/gov/hmcts/reform/sscs/services/xml/XmlValidator.java
Labels: ns:sscs-case-loader-pr-553

#554 Sonar fix external entity processing
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/services/xml/XmlValidator.java
Labels: ns:sscs-case-loader-pr-554

#558 Remove slots after AKS migration as prod no long has staging slot
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/job/SscsCaseLoaderJobTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/XmlValidatorTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/job/SscsCaseLoaderJob.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
Labels: ns:sscs-case-loader-pr-558

#562 Bugfix/sscs 6909 caseloader aks
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  docker-compose.yml
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-case-loader-pr-562

#557 AKS migration for prod
  Jenkinsfile_CNP
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.yaml
Labels: ns:sscs-case-loader-pr-557

#564 Order of element has changed, updated latest xsd
  src/main/resources/schema/SSCS_Extract_Schema_0.10.xsd
Labels: ns:sscs-case-loader-pr-564

#565 bumping base chart
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/requirements.yaml
Labels: ns:sscs-case-loader-pr-565

#566 JobKind was changed in job chart recently which is breaking case loader
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.yaml
Labels: ns:sscs-case-loader-pr-566

#546 [PREVIEW] SSCS-6641 Caseloader – Amend the obtain hearing information…
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilderTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilder.java
Labels: ns:sscs-case-loader-pr-546

#571 Enable ASE on demo only
  Jenkinsfile_CNP
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:sscs-case-loader-pr-571

#572 revert removing infra
  Jenkinsfile_CNP
Labels: ns:sscs-case-loader-pr-572

#574 fix appinsights
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/job/SscsCaseLoaderJobTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/CaseLoaderJobConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/job/CaseLoaderTasklet.java
Labels: ns:sscs-case-loader-pr-574

#570 sscs-6940 close the app at then
  src/main/java/uk/gov/hmcts/reform/sscs/CaseLoaderApp.java
Labels: ns:sscs-case-loader-pr-570

#569 SSCS-6940 Caseloader – Mark the AKS job as complete if it completes a…
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/predeploy/ProcessCaseFileSetup.java
  src/main/java/uk/gov/hmcts/reform/sscs/CaseLoaderApp.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/sftp/SftpChannelAdapter.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/sftp/SftpChannelAdapterTest.java
Labels: ns:sscs-case-loader-pr-569

#579 Remove case loader terraform
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
Labels: ns:sscs-case-loader-pr-579

#580 Remove config from output.tf
  infrastructure/output.tf
Labels: ns:sscs-case-loader-pr-580

#576 SSCS-6836 Add missing fields to java model
  build.gradle
Labels: ns:sscs-case-loader-pr-576

#578 SSCS-6955 Caseloader – Only end the job when all jobs are completed
  src/main/java/uk/gov/hmcts/reform/sscs/exceptions/ProcessDeltaException.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderServiceTest.java
Labels: ns:sscs-case-loader-pr-578
