Repository hmcts/sscs-case-loader, pull requests merged in 2020-06, with the labels that each got.

#664 SSCS-7550: New AirLookup
  build.gradle
Labels: ns:sscs, rel:sscs-case-loader-pr-664

#674 SSCS-7604: Stop case loader from updating the hearing type to Domiciliary
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdHearingType.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdHearingTypeTest.java
Labels: ns:sscs, rel:sscs-case-loader-pr-674

#679 SSCS-7568 - Upgrade springboot to 2.3.x
  .github/renovate.json
  build.gradle
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/requirements.yaml
Labels: ns:sscs, rel:sscs-case-loader-pr-679

#681 SSCS-7568 - Add health endpoint
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.yaml
Labels: ns:sscs, rel:sscs-case-loader-pr-681

#682 SSCS-7418 Integrate HMCTS Java plugin
  build.gradle
Labels: ns:sscs, rel:sscs-case-loader-pr-682

#676 SSCS-7576 Upgrade SSCS-Common and fix IT
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-case-loader/Chart.yaml
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ProcessCaseTest.java
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-676

#699 SSCS-7712: Caseloader – Re-requesting a new IDAM token before updatin…
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-699

#698 SSCS-7708 Reference data – Amendment to SSCS venue data Date 23-06-20
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/refdata/VenueDataLoaderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-698
