Repository hmcts/sscs-case-loader, pull requests merged in 2020-03, with the labels that each got.

#617 Task/sscs 6966 clean up
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.preview.template.yaml
  charts/sscs-case-loader/values.yaml
  config/checkstyle/checkstyle.xml
  docker-compose.yml
  infrastructure/variables.tf
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderServiceTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ProcessCaseRetryAndRecoveryTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ReferenceDataServiceTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/postdeploy/ProcessCaseFileTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/predeploy/ProcessCaseFileSetup.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/sscs/job/SscsCaseLoaderJob.java
  src/main/java/uk/gov/hmcts/reform/sscs/models/deserialize/gaps2/FurtherEvidence.java
  src/main/java/uk/gov/hmcts/reform/sscs/models/deserialize/gaps2/PostponementRequests.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderService.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/gaps2/Gaps2FileLoader.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/sftp/SftpChannelAdapter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/models/CaseLoaderMetricsTest.java
Labels: ns:sscs, rel:sscs-case-loader-pr-617

#621 Bump common to 3.2.3
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ProcessCaseTest.java
Labels: ns:sscs, rel:sscs-case-loader-pr-621

#625 Clearup ASE config
  infrastructure/output.tf
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
Labels: ns:sscs, rel:sscs-case-loader-pr-625

#616 SSCS-7147 Timestamp of last logged into MYA in CCD UI
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateSubscription.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateSubscriptionTest.java
Labels: ns:sscs, rel:sscs-case-loader-pr-616
