Repository hmcts/sscs-case-loader, pull requests merged in 2020-01, with the labels that each got.

#590 fix build
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs-case-loader-pr-590

#589 Feature/sscs 6994 set adjourned flag
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseDataIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/models/deserialize/gaps2/Hearing.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilder.java
  src/main/resources/application-local.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseDataTest.java
  src/test/resources/AppealCaseWithAdjournedEventCreatedByOutcomeId.json
Labels: ns:sscs-case-loader-pr-589

#591 SSCS-7047 SYA – OpenID connect – Validate the IDAM token that is retu…
  build.gradle
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.yaml
  src/main/resources/application.yaml
Labels: ns:sscs-case-loader-pr-591

#592 Case loader sftp runnable thread closing fix
  src/main/java/uk/gov/hmcts/reform/sscs/job/SscsCaseLoaderJob.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/CaseLoaderTimerTask.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/CaseLoaderTimerTaskTest.java
Labels: ns:sscs-case-loader-pr-592

#593 SSCS-7125 Do not process appeal received event for digital cases
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/CcdCasesSender.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/CcdCasesSenderTest.java
Labels: ns:sscs, rel:sscs-case-loader-pr-593

#598 Case loader sftp runnable tread closing fix
  src/main/java/uk/gov/hmcts/reform/sscs/services/sftp/SftpChannelAdapter.java
Labels: ns:sscs, rel:sscs-case-loader-pr-598

#602 SSCS-7140 Update AirLookup to v10
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ProcessCaseRetryAndRecoveryTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ProcessCaseTest.java
Labels: ns:sscs, rel:sscs-case-loader-pr-602

#603 Feature/sscs 6587 2
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ReferenceDataServiceTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/properties/IdamProperties.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/CcdCasesSender.java
  src/main/resources/application-local.yaml
Labels: ns:sscs, rel:sscs-case-loader-pr-603
