Repository hmcts/sscs-case-loader, pull requests merged in 2020-12, with the labels that each got.

#859 SSCS-8424 - Remove UC flag
  build.gradle
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-859

#860 Sscs 8038 retry idam
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilderTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-860

#871 Fix dependency check failure
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-871

#873 Remove rpc venue feature flag
  build.gradle
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/CcdCasesSender.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/CcdCasesSenderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseDataTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-873

#872 Sscs 8514 caseloader sonarfix
  src/main/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-872

#874 SSCS-8506 Update processing venue
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ProcessCaseTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseDataIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdCaseData.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdProcessingVenue.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseData.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdProcessingVenueTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseDataTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-874
