Repository hmcts/sscs-case-loader, pull requests merged in 2020-07, with the labels that each got.

#613 SSCS-7187 Remove generated fields
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdAppellantData.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdCaseData.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateGeneratedFields.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseData.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdAppellantDataTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateGeneratedFieldsTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseDataTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-613

#715 SSCS-7638 Migrating VenueDataLoader to common
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/refdata/VenueDataLoaderTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ReferenceDataServiceTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/mapper/TransformAppealCaseToCaseDataIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/models/refdata/Venue.java
  src/main/java/uk/gov/hmcts/reform/sscs/models/refdata/VenueDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/refdata/VenueDataLoader.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/refdata/ReferenceDataService.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/refdata/ReferenceDataServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-715

#718 SSCS-7701 - Upgrading to Java 11 - Caseloader
  .travis.yml
  Dockerfile
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-718

#731 Sscs 7842 fixed nightly job
  audit.json
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-731
