Repository hmcts/sscs-case-loader, pull requests merged in 2020-11, with the labels that each got.

#814 SSCS-8330 Move to Elastic Search
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ProcessCaseTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ccd/SearchCcdServiceByCaseRefRetryAndRecoverTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/ccd/SearchCcdServiceByCaseRefTest.java
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilderTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-814

#830 SSCS-8348 - Update Venue Data
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-830

#838 Sscs 8383 case loader fix
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderServiceTest.java
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/predeploy/ProcessCaseFileSetup.java
  src/e2e/resources/SSCS_CcdCases_Delta_2018-07-09-12-34-56.xml
  src/main/java/uk/gov/hmcts/reform/sscs/exceptions/MultipleCaseFoundException.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-838

#846 Fix for nightly tests
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-846

#849 SSCS-8418: Caseloader - Modify logic on search cases if multiple SC n…
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderServiceTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderService.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-849

#852 SSCS-7789 update common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-852
