Repository hmcts/sscs-case-loader, pull requests merged in 2021-03, with the labels that each got.

#929 Sscs 8639 cs amendpostponedlogic
  src/main/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/services/TransformationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/CcdCasesSenderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataBuilderBase.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/mapper/CaseDataEventBuilderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-929

#938 SSCS-8750 - Dwp Document Sorting
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-938

#942 cve-2021-22112
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-942

#945 Fix dependency failures
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-945

#947 Sscs 8720 incorrect remove email
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateSubscription.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdAppellantDataTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdCaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateCcdRepresentativeTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/UpdateSubscriptionTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-947

#964 sscs 8880 added DLA as benefit type
  src/main/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactory.java
  src/test/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactoryTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-964

#969 Bump chart job to v0.7.0
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-969

#973 upgrade pdfbox dependency
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-973

#976 Remove unused suppressions
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-976

#975 Rename test file
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/postdeploy/data/PostcodeCaseFileTestData.java
  src/e2e/resources/SSCS_CcdCases_Delta_2021-03-26-13-17-00.xml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-975

#978 Sscs 8895 carers allowance (#968)
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactory.java
  src/test/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactoryTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-978

#980 DTSPO-1792 Bump common libraries after moving from bintray to jitpack
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-980
