Repository hmcts/sscs-case-loader, pull requests merged in 2021-04, with the labels that each got.

#982 Sscs 9030 caseloader fix
  build.gradle
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/postdeploy/ProcessCaseFileTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactory.java
  src/test/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactoryTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-982

#987 SSCS-8894: Carer's Allowance - Airlookup, DWP addresses & Robot Configuration
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactory.java
  src/test/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactoryTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-987

#990 SSCS-9031 Carers allowance camel case fix
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-990

#994 SSCS-9050 - DLA - Update Welsh SSCS1 Form
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-994

#996 SSCS-8901 - Attendance Allowance - Map Caseloader to Attendance Allowance Benefit Code
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactory.java
  src/test/java/uk/gov/hmcts/reform/sscs/refdata/RefDataFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/refdata/ReferenceDataServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-996
