Repository hmcts/sscs-case-loader, pull requests merged in 2022-02, with the labels that each got.

#1221 Update sscs-commons
  build.gradle
  dump.rdb
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/refdata/VenueDataLoaderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1221

#1238 surpress dependency
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1238

#1241 update sscs-common version
  build.gradle
  src/IntegrationTests/java/uk/gov/hmcts/reform/sscs/refdata/VenueDataLoaderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1241
