Repository hmcts/sscs-case-loader, pull requests merged in 2022-01, with the labels that each got.

#1191 Upgrade log4j to 2.16.0
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1191

#1216 Update reference data file
  docker/sftp/data/incoming/SSCS_Extract_Reference_2022-01-13-03-12-52.xml
  src/e2e/java/uk/gov/hmcts/reform/sscs/functional/predeploy/ProcessCaseFileSetup.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1216

#1227 update file name
  docker/sftp/data/incoming/SSCS_Extract_Delta_SmokeTest_2022-01-13-03-12-52.xml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1227

#1212 SSCS-9902: Location data – Update airlookup to v15
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1212
