Repository hmcts/sscs-case-loader, pull requests merged in 2024-01, with the labels that each got.

#1501 CVE Fix - 22.01.2024
  dependency-check-suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1501

#1500 Skip case and process delta file when processing fails due to bad or invalid case reference/case id
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/services/CaseLoaderServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1500

#1498 SSCSCI-488: Implement interpreter data migration logic and rollback
  .gitignore
  README.md
  build.gradle
  charts/sscs-case-loader/Chart.yaml
  charts/sscs-case-loader/values.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/job/DataMigrationJob.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/DataMigrationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/services/ccd/CcdCasesSender.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/MigrationDataEncoderApp.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/job/DataMigrationJobTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/DataMigrationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/services/ccd/CcdCasesSenderTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1498

#1504 SSCSCI-488: exclude service class due to test misconfig
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-case-loader-pr-1504
